################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/SE407/v16/.suo
/.vs/SE407/v16/TestStore/0/testlog.manifest
/.vs/SE407/v16/TestStore/0/000.testlog
